* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: darkcyan;

  #backdrop{
    height: 100vh;
    width: 100vw;
    z-index: -999;
    position: fixed;

    background-color: rgba(37, 78, 78, 0.9)
  }

  #sphereVisuals{
    height: 100vh;
    width: 100vw;
    z-index: -1000;
    position: fixed;
  }
  
}

.container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  // background-color: lightgray;
  background-color:transparent;
  flex-direction: column;
}

.header {
  width: 100%;
  display: block;
  margin: 5px auto 0px;
  padding: 10px;
  font-size: 1.5rem;
  // border-bottom: gray 1px solid;
  color: antiquewhite;
  
  p {
    text-indent: 3rem;
    text-align: justify;
    padding-bottom: 1rem;
  }
  
  h1 {
    width: 100%;
    text-align: center;
  }

  &__title {
    margin: 1rem auto;
    font-size: 3rem;
    font-weight: 700;
  }
}

.main {
  background-color: transparent;
  padding: 0 0.5rem;
}

.card{

  width: 100%;
  margin-bottom: 1rem;
  box-shadow: lightgray 0 0 10px 5px inset;
  background: linear-gradient(0.4turn, rgba(119, 119, 119, 0.3), rgb(255, 255, 255), rgba(0, 255, 255, 0.2));

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 100%;
  }

  li {
    margin: 1rem;
    background-color: rgba(211, 211, 211, 0.5);
    box-shadow: rgba(128, 128, 128, 0.637) 0 0 6px 2px;
    padding: 0.5rem;
    text-align: center;
  }

  a {
    font-size: 1.5rem;
    text-decoration: none;
    transition: text-shadow 200ms;
  }

  a:hover {
    text-shadow: rgb(0, 139, 139) 0 0 20px;
  }
  
  &__body-title {
    display: inline-block;
    width: 100%;
    margin: 2rem auto;
    color: darkcyan;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    /* font-stretch: expanded; */
    text-shadow: white 0 0 5px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
  }
  
  &__image {
    width: 100%;
    height: auto;
  }
}
  
footer {
  width: 100%;
  text-align: center;
  
  p {
    display: inline-block;
    width: 300px;
    margin: 0 auto;
    font-style: italic;
    font-size: smaller;
    border-top: gray 1px solid;
  }
}

#card__test-button{
  padding: 15px;
  margin: 5px;

  &:hover{
    cursor: pointer;
  }
}

// 576px 992px
@media( min-width:576px){
  .container {
    width: 576px;

  }
  .header{
    width: 90%;
  }
  .card{
    ul {
      grid-template-columns: 50% 50%;
    }
    a{
      font-size: 1rem;
    }
  }
  
}

@media( min-width:992px){
  .container {
    width: 992px;
    
  }
  .header{
    width: 80%;
    font-size: 1.5rem;
  }
  .card{
    ul {
      grid-template-columns: 33% 34% 33%;
    }

  }
  
}